:root {

  --main-color : #2ec866;
}
body {
  margin: 0 ; 
  padding: 0; 
  background: #f7f7f7;
  font-family:  'Raleway', sans-serif;
  counter-reset: users;  
  overflow-x: hidden;

}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--main-color) ;
  font-weight: 600;
}

header .container {
  height: 70px;
  background: #fff;
  border: 1px solid #eee;
  }
header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo, header .user {
  height : 70px;
  display: flex;
  align-items: center;
}
header .user{
  flex-grow: 0.1;

}
header .user img.image {
  width: 35px;
  height: 35px;
  margin-inline-end: 10px;
}
header .user span {
  display: block;
  font-size: small;
}

header .user div {
  width: calc(100% - 70px - 20px) 
}

.row {
  max-width: 900px;
  margin: 0 auto;
}

header .container .wrapper {
  display: flex;
  align-items: center;
  height: 70px;
}

.container {
  padding: 0 25px;
}

footer .container {
  background: #f9f9f9;
  padding: 20px;
  border-top: 1px solid #eee;
}

main .container .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
@media only screen and (max-width: 900px) {
  main .container .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 70px - 70px);
    align-items: center;
    text-align: center;
  }
  
}

@media only screen and (max-width: 700px) {
  main .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
}
.app {
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  height: 360px;
  width: 550px;
  max-width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  margin-inline-start: 50px;
  margin-top: 50px;
}
@media only screen and (max-width: 700px) {
  .app {
    margin: auto;

  }  
}

form#form {
  width: 85%;
}
input {
  border: 1px solid #eee;
  height: 50px;
  display: flex;
  padding-inline-start: 15px;
  border-radius: 10px;
  width: 100%;
  margin: 20px 0;
}

input[type="submit"] {
  border: 1px solid #eee;
  height: 50px;
  display: flex;
  border-radius: 10px;
  background-color: #2ec866;
  width: 100%;
  color: #fff;
  margin: 20px 0;
  font-weight: bold;
  justify-content: center;
}

nav .row ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 70px;
  align-items: center;
}
nav .row ul > li > a {
  color: #333;
  display: flex;
  margin-inline-end: 30px;
  height: 70px;
  align-items: center;
  text-decoration: none;
}


main .row > div {
  width: calc(100% - 170px - 30px);
  
}
main .row aside {
  width: 170px;
  display: flex;
  flex-direction: column;
}
main .row {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 700px) {
  main .row > div {
    width: 100%;
  }
  main .row aside {
    width: 100%;
    margin-bottom: 60px;
    
  }
}
main .row aside span {
  display: flex;
  height: 50px;
  align-items: center;
  background: #eee;
  margin: 10px 0 0 0;
  padding: 0 10px;
  border-radius: 5px;
  justify-content: center;
  cursor: pointer;
}
main .row aside h4 {
  margin: 0;
}

main.leaderboard .row {
  flex-direction: column;
}
.question {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 10px 50px 25px;
  border-radius: 10px;
  margin-top: -10px;
  background: #fff;
  box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
  margin-bottom: 35px;
  position: relative;
} 
.question > div {
  width: calc(100% - 50px - 25px );
}
.question .image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.question .date{
  font-size: small;
  display: block;
  margin-top: 10px;

}
.question h3 {
  margin: 0;
}
.option.chosen::before {
  content: "\f00c";
  position: absolute;
  left: -30px;
  color: var(--main-color);
  top: 50%;
  font-size: 20px;
  font-weight: bold;
  transform: translateY(-50%);
  font-family: "Font Awesome 6 Free";
}

.question h3 span{
font-size: small;
font-weight: 500;
}
.question .option:hover {
  background: #e3e3e3;
}

.question h4{
  margin-top: 15px;
  font-weight: 500;
  margin-bottom: 15px;
  
}
.question .option span {
  font-size: small;
  margin-top: 5px;
  display: block;
}
.question .option {
  position: relative;
  margin-inline-start: 25px;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 0 5px 10px;
  background: #f3f3f3;
}
@media only screen and (max-width: 700px) {
  .question .option {
    margin-inline-start: 0;    
  }
}


.question .chosen{
  background: var(--main-color);
  color: #fff;
}

.question a {
  position: absolute;
  bottom: 15px;
  right: 30px;
}
.question .option p {
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}
.question .option:first-of-type {
  margin-bottom: 25px;
}
.user .image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user h4{
  margin: 0;
  margin-bottom: 10px;
}
.user h4 span {
  font-weight: 400;
  font-size: small;
  display: block;
  margin-top: 5px;
}
.leaderboard .user {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 55px;
  counter-increment: users;
  align-items: center;
  margin-inline-start: 60px;

}
.leaderboard .user::before {
  content: "0 " counter(users);
  color: var(--main-color); 
  font-weight: bold;
  font-size: 30px;
  margin-inline-start: -40px;
}

.user > div {
  width: calc(100% - 50px - 40px );

}
.user > div > div{
  display: flex;
}
.user > div > div span {
  margin-inline-end: 20px;
}
@media only screen and (max-width: 700px) {
  .user > div > div {
    display: flex;
    flex-direction: column;
  }
  .user > div > div span {
    margin-bottom: 10px;
  }
}

main {
  margin: 50px 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}